name: generate animation

on:
  schedule:
    - cron: "0 */12 * * *"

  workflow_dispatch:

  push:
    branches:
      - main

jobs:
  generate:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: generate github-contribution-grid-snake.svg
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: |

            # Вариант 2: Темная тема (неоновый стиль)
            # Здесь первый цвет #161b22 делает фон темным, как в GitHub Dark
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark&color_snake=#3c7dd9&color_dots=#161b22,#0e4429,#006d32,#26a641,#39d353


      - name: push github-contribution-grid-snake.svg to the output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
